<!-- Footer -->

    <!-- social section -->
    <footer class="row text-left bg-honeycomb">
      <!-- <div class="col-xs-12 col-sm-6">
        <h3>Our Twitter Feed</h3>
        <div class="card mb-30">
          <a class="twitter-timeline"  href="https://twitter.com/GlobalXpressRW/" data-widget-id="329035628920573952" data-chrome="noheader nofooter noborders transparent" data-tweet-limit="1" data-width="100%">Tweets by @GlobalXpressRW</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         </div>
      </div> -->
      <div id="follow-me" class="col-xs-12 col-sm-5 col-sm-offset-1 mb-30">
        <h3>Follow us on:</h3>
        <a class="social-link" href="https://twitter.com/GlobalXpressRW/" target="_blank" title="Twitter">
          <i class="fa fa-2x fa-twitter"> Twitter</i>
        </a>


      </div>
      <div class="col-xs-12 text-center">

        <h2>&ndash; Thanks for visiting! &ndash;</h2>
        <small class="gray">Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Global Express &mdash;&mdash; Designed with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by Bisoke studios</small>
      </div>
    </footer>
