<!-- Footer -->

    <!-- social section -->
    <footer class="row text-left bg-honeycomb">
      <!-- <div class="col-xs-12 col-sm-6">
        <h3>twitter or facbook feeds</h3>
        <div class="card mb-30">
          <a class="twitter-timeline"  href="https://twitter.com/dusign/" data-widget-id="329035628920573952" data-chrome="noheader nofooter noborders transparent" data-tweet-limit="1" data-width="100%">Tweets by @Global exress</a> --> <!--
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->
        <!-- </div>
      </div> -->
      <!-- div id="follow-me" class="col-xs-12 col-sm-5 col-sm-offset-1 mb-30">
        <h3>Follow us!</h3>
        <a class="social" href="https://www.linkedin.com/in/tiffanyadu/" target="_blank" title="LinkedIn">
          <img src="https://github.com/tiffanyadu/portfolio/blob/master/assets/icons/social/LinkedIn-black.png?raw=true" alt="LinkedIn Icon">
        </a>
        <a class="social" href="#" target="_blank" title="Twitter">
          <img src="https://github.com/tiffanyadu/portfolio/blob/master/assets/icons/social/Twitter-black.png?raw=true" alt="Twitter Icon">
        </a>
        <a class="social" href="#" target="_blank" title="Instagram">
          <img src="https://github.com/tiffanyadu/portfolio/blob/master/assets/icons/social/Instagram-black.png?raw=true" alt="Instagram Icon">
        </a>
        <a class="social" href="#" target="_blank" title="Github">
          <img src="https://github.com/tiffanyadu/portfolio/blob/master/assets/icons/social/Github-black.png?raw=true" alt="Github Icon">
        </a>
       
      </div> -->
      <div class="col-xs-12 text-center">
       
        <h2>&ndash; Thanks for visiting! &ndash;</h2>
        <small class="gray">Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Global Express &mdash;&mdash; Designed with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by Bisoke studios</small>
      </div>
    </footer>