<!-- Large feature partial
_____________________________-->

 <header id="top" class="jumbotron">
    <div class="container text-center">
      <div class="row">
        <!-- <div class="col-xs-6 col-xs-offset-3">
          <img class="img-responsive center-block logo" src="#" alt="global express Logo">
        </div> -->
        <div class="col-xs-12">
          <h1 class="title">Welcome to global express</h1>
          <p class="subtitle" style="font-weight: 800; font-size: 2.5em">Move with Africa</p>

          <p></p>
          <a data-toggle="modal" data-target="#contact-modal" class="btn td-btn btn-primary outline waiting-btn green scroll mt-30" title="Contact Us!"> Contact Us</a>
        </div>
      </div>
    </div>
  </header>


  {% include contact-form.html %}
