<nav id="main-nav" class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Menu Toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a class="navbar-brand scroll" href="{{site.github.url}}/index.html"><span><img class="site-logo" src="{{site.github.url}}/img/gl-logo.png" class="img-responsive">Global express</span></a>
      </div>
      <!-- Collapsible Menu -->
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
        <!--  <li class="active"><a class="scroll" href="#top">Home <span class="sr-only">(current)</span></a></li>
          <li><a class="scroll" href="#">About Me</a></li> -->
          <li><a data-toggle="modal" data-target="#login-modal" style="color: #fff !important" class="scroll button">sign in</a></li>
          <!-- <li><button class="btn td-btn small outline pink" data-toggle="modal" data-target="#contactModal">Sign up</button></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% include login-form.html %}

<style>
.site-logo{
  max-width: 60px !important;

}
</style>